@media(max-width:1080px){
.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 15px;
     
}

.fbox-wrapper {
 text-align: center;
    width: 50%;
    min-height: 90px;

 }

 .fbox-wrapper h2{
     font-size: 24px;
     margin-bottom: 10px;
 }

 .fbox-content p{
     font-size: 13px;
 }

 .footer-container ul li a{
    font-size: 13px;
}

.time{
    margin-top: 0px;

}

}