@media(max-width:1080px){

/* 
|---------------------------------------------
| step
|--------------------------------------------- 
 */    
 .step{
     font-size: 14px;
 }

 .step::before, .step::after{
    font-size: 24px;
    padding: 30px;
     top: -48px;
}
    .step .box{
        width: 90px;
        min-height: 0px;
    
    }

    .step .image{
        width: 120px;
        height: 120px;
    }

    .step .box p{

        padding: 0;
    }

/* 
|---------------------------------------------
| loaner
|--------------------------------------------- 
 */ 
 .our-success-loaner{
     font-size: 14px;
     padding: 70px 20px;
 }   

 .our-success-loaner::before{
     font-size: 24px;
     padding: 30px;
     top: -48px;
 }
    .our-success-loaner .box{
        width: 250px;
        min-height: 250px;
        margin: 9px;
        }

    .our-success-loaner .box .box-image{
        height: 150px;
        width: 150px;
    }
    .our-success-loaner .box span {
        font-size: 21px;
    }

    .our-success-loaner .box p{
        font-size: 13px;
        
    }

    /* 
|---------------------------------------------
| contact form
|--------------------------------------------- 
 */

 .contact-form .div-wrapper{
     padding: 0;

  
    }
    
    .contact-icons{
        display: block;
        padding: 50px;
        text-align: center;
        
    }
    .contact-icons .holder .img-wrap{
        
        display: block;
        padding: 0;
    }
    .contact-icons .holder{
     justify-content: space-around;

    }

    .contact-submit-form{

        padding: 0;
    }

    .contact-submit-form form {
        width: 280px;
        max-height: 400px;
    }

    .contact-submit-form form .form-control{
        width: 100%;
    }

    .contact-submit-form form textarea{
        width: 100%;
    }

}